name: Semantic versioning

on:
    push:
        branches:
            - development
jobs:
    semantic-versioning:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: "16"
            - name: Create local changes
              run: |
                  git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
                  git config --local user.name "github-actions[bot]"
                  npx standard-version
            - name: Commit files
              run: |
                  git commit -m "Add changes" -a
            - name: Push changes
              uses: ad-m/github-push-action@master
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN  }}
                  branch: ${{ github.ref  }}
