name: Semantic versioning

on:
    push:
        branches:
            - development
jobs:
    semantic-versioning:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: "16"
            - name: Configure commiter
              run: |
                  git config user.name "GitHub Actions Bot"
                  git config user.email "<>"
            - name: Bump version
              run: qzb/standard-version@1
